<div class="sidebarwrap">
    <div class="user-details">
        <p><img src="./assets/img/avatar.jpg"></p>
        <p class="u-name">Sandeep Jadhav</p>
        <p class="u-position">Software Developer</p>
    </div>
    <ul class="sidebar">
        <li>
            <a class="active" href>
                <p><i class="fas fa-tachometer-alt"></i> </p>
                <p>Dashboard</p>
            </a>
        </li>
        <li>
            <a href>
                <p><i class="fas fa-cog"></i></p>
                <p>Masters</p>
            </a>
        </li>
        <li>
            <a href>
                <p><i class="fas fa-chart-line"></i></p>
                <p>Sales</p>
            </a>
        </li>
    </ul>
</div>